$body-bg: #263238;
$body-color: #ffffff;

$theme-colors: (
  "primary": #e2a60d,
  "secondary": #314149,
  "light": #71757c,
  "secondary-lighter": #5f727c,
  "dark": #18272f,
);

// border radius
$border-radius-xlg: 0.9rem;

// Fonts
$font-family-sans-serif: "Roboto", sans-serif;
$font-family-base: $font-family-sans-serif;

// Font weight
$font-weight-semibold: 600;

// Font sizes
$font-size-xsm: 0.675rem;
$font-size-sm: 0.75rem;
$font-size-md: 1rem;

// Buttons
// $input-btn-font-size: 0.75rem;
// $btn-font-size: $input-btn-font-size;
$btn-font-weight: $font-weight-semibold;
$btn-padding-y: 0.35rem;
$btn-padding-x: 2rem;
$btn-padding-y-lg: 0.35rem;
$btn-padding-x-lg: 2.625rem;
$btn-border-radius: 2rem;
$btn-border-radius-sm: 1rem;
$btn-border-radius-lg: 3rem;
