$category-item-size: 3.5rem;
.category-item {
  display: flex;
  width: $category-item-size;
  flex-direction: column;
  color: theme-color("secondary-lighter");
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $category-item-size;
    background: theme-color("dark");
    border-radius: $border-radius-xlg;
    font-size: 1.375rem;
    opacity: 0.6;
  }
  small {
    display: block;
    text-align: center;
    font-size: $font-size-xsm;
    padding: $spacer / 2 0;
  }
  &:hover {
    color: theme-color("secondary-lighter");
    text-decoration: none;
  }
}
